


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .socialMedias ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    margin: 0 8px;
}

footer .help img {
    width: 30px;
    display: inline-block;
    margin: 10px 5px 0 10px;
}

footer .help .helpText {
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    margin: 13px 0 0 0;
}
footer .help #first {
    margin: 0;
}

footer .help #second {
    font-size: 10px;
    margin: 0;
    font-weight: 700;
}

footer .help {
    width: 300px;
}